.headerDivider{
    border-left: 1px solid var(--grayColor);
  }
  .navbarNormal{
    height: 64px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: #fff; */
  }
  .userMenuBtn {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .userMenuBtn:focus,
  .userMenuBtn:active,
  .userMenuBtn:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .mobileMenuBtn{
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    color: var(--textColor);
  }
  
  /* show only in mobile*/
  @media (max-width: 768px) {
    .mobileMenuBtn {
      display: block;
    }
  }