/*---------Navbar--------*/
.header-divider{
    border-left: 1px solid var(--grayColor);
  }
  .navbar-normal{
    height: 64px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
  }


/*------SidBar--------  */
.ps-sidebar-root{
  height: 100%;
}
.sidebar-container{
  position: relative;
  position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 250px;
    /* height: 100%; */
    /* overflow-y: auto; */
    /* z-index: 1000; */
}
.sidebar-container .ps-sidebar-container{
    background-color: var(--bgColor);
    color: #fff;
    height: 100%;
    padding: 20px 0;
    
  
  }
  .ps-sidebar-container .ps-menu-button{
    transition: all 1s;
  }
  .ps-sidebar-container .ps-menu-button:hover,
  .ps-sidebar-container .active{
    background-color: var(--actveSidebar) !important;
  }
  .collapse-btn{
    position: absolute;
    top: 20px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    border-radius: 20%;
  }
  /* button when sidebar open */
  .sidebar-container.expanded .collapse-btn{
    right: 0;
  }

  .sidebar-container.collapsed .collapse-btn{
    left: 30%;
    transform: none;
  }



  /* ------mainContent in masterLayout */
  .main-content{
    background-color: rgba(244, 241, 241,0.5);
    transition: 0.3s;

    margin-left: 250px;
    margin-top: 64px;
    width: calc(100% - 250px);
    min-height: calc(100vh - 64px);
    padding: 20px;
  }

  .main-content.collapsed {

    margin-left: 80px;
    width: calc(100% - 80px);
    transition: 0.3s;
  }