

/*------SidBar--------  */
.ps-sidebar-root{
  height: 100%;
}
.sidebar-container{
  position: relative;
  position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 250px;
    /* height: 100%; */
    /* overflow-y: auto; */
    /* z-index: 1000; */
}
.sidebar-container .ps-sidebar-container{
    background-color: var(--bgColor);
    color: #fff;
    height: 100%;
    padding: 20px 0;
    
  
  }
  .ps-sidebar-container .ps-menu-root{
    margin-top: 40px;
  }
  .ps-sidebar-container .ps-menu-button{
    transition: all 1s;
  }
  .ps-sidebar-container .ps-menu-button:hover,
  .ps-sidebar-container .active{
    background-color: var(--actveSidebar) !important;
  }
  .collapse-btn{
    position: absolute;
    top: 20px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    border-radius: 20%;
  }
  /* button when sidebar open */
  .sidebar-container.expanded .collapse-btn{
    right: 0;
  }

  .sidebar-container.collapsed .collapse-btn{
    left: 30%;
    transform: none;
  }



  /* ------mainContent in masterLayout */
  .main-content{
    background-color: var(--bg-color);
    transition: 0.3s;

    margin-left: 250px;
    margin-top: 64px;
    width: calc(100% - 250px);
    min-height: calc(100vh - 64px);
    padding: 20px;
  }

  .main-content.collapsed {

    margin-left: 80px;
    width: calc(100% - 80px);
    transition: 0.3s;
  }

  .profile .imgPorfile{
    border:3px solid #ef9b28;
    width: 120px;
    border-radius: 50%;
  }
  .profile .profile-role{
    background-color: #177a65;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    margin-top: 10px;
  }
  .profile{
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }
 