/*---------Navbar--------*/
.header-divider{
    border-left: 1px solid var(--grayColor);
  }


/*------SidBar--------  */
.sidebar-container{
  position: relative;
}
.sidebar-container .ps-sidebar-container{
    background-color: var(--bgColor);
    color: #fff;
    min-height: 100vh;
    padding: 60px 0;
  }
  .ps-sidebar-container .ps-menu-button{
    transition: all 1s;
  }
  .ps-sidebar-container .ps-menu-button:hover,
  .ps-sidebar-container .active{
    background-color: var(--actveSidebar) !important;
  }
  .collapse-btn{
    position: absolute;
    top: 20px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 20%;
  }
  /* button when sidebar open */
  .sidebar-container.expanded .collapse-btn{
    right: 15px;
  }

  .sidebar-container.collapsed .collapse-btn{
    left: 98%;
    transform: none;
  }



  /* ------mainContent in masterLayout */
  .main-content{
    background-color: rgba(244, 241, 241,0.5);
    padding:5px ;
  }