/* start general css  */

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  --mainColor:rgba(239, 155, 40, 1);
  --bgColor:rgb(14, 56, 47);
  --secondaryColor:rgba(49, 89, 81, 0.898); 
  --activeBtnColor:rgba(0, 146, 71, 1);
  --notActiveBtColor:rgba(146, 46, 37, 0.7);
  --toDoBtnColor:rgba(228, 225, 245, 1);
  --textColorTable:rgba(79, 79, 79, 1);


}
* {
    font-family: var(--main-font); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.overlayReg{
  background-color: rgba(49, 74, 89, 0.902);
 
}
.activeSidebar{
  background-color: rgba(239, 155, 40, 0.3);
}
.authOverlay{
  background-color: var(--bgColor);
}
.formBg{
  background-color: var(--secondaryColor);
}
.butonSubmit ,.bgTasks{
  background-color:var(--mainColor);
}
.textHeader{
  color: var(--mainColor);
}
.buttonActive{
  background-color: var(--activeBtnColor);
}
.buttonDeActive{
  background-color: var(--notActiveBtColor);
}
.buttonToDo{
  background-color: var(--toDoBtnColor);
}
.tableColor{
  color: var(--textColorTable);
}

/* end general  */
/* Chrome Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}
.create-title {
  color: var(--mainColor);
  font-weight: 700;
}
.c-underline {
  position: relative;
  display: inline-block;
}

.c-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 18px;
  height: 3px;
  background-color: var(--mainColor);
  border-radius: 2px;
}

.formBg {
 
  position: relative;   
  z-index: 5;           
}

