/* start general css  */

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  --mainColor:rgba(239, 155, 40, 1);
  --bgColor:rgb(14, 56, 47);
  --secondaryColor:rgba(49, 89, 81, 0.898);
  --activeBtnColor:rgba(0, 146, 71, 1);
  --notActiveBtColor:rgba(146, 46, 37, 0.7);
  --toDoBtnColor:rgba(228, 225, 245, 1);
  --textColorTable:rgba(79, 79, 79, 1);
  --grayColor:rgba(154, 154, 154, 0.4);
  --actveSidebar:rgba(239, 155, 40, 0.3);
}
* {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.overlayReg{
  background-color: rgba(49, 74, 89, 0.902);

}
.activeSidebar{
  background-color: rgba(239, 155, 40, 0.3);
}
.authOverlay{
  background-color: var(--bgColor);
}
.formBg{
  background-color: var(--secondaryColor);
}
.butonSubmit ,.bgTasks{
  background-color:var(--mainColor);
}
.textHeader{
  color: var(--mainColor);
}
.buttonActive{
  background-color: var(--activeBtnColor);
}
.buttonDeActive{
  background-color: var(--notActiveBtColor);
}
.buttonToDo{
  background-color: var(--toDoBtnColor);
}
.tableColor{
  color: var(--textColorTable);
}
/*  start general Auth Css */
.Auth-btn{
  background-color: var(--mainColor) !important;
  border:none !important;
  color:#fff !important;
  border-radius: 30px !important;
  padding: 12px !important;
  transition: all 0.3s ease !important;
}
.Auth-btn:hover{
  background-color: var(--mainColor) !important;
  color:#fff !important;
  /* border:1px solid var(--mainColor) !important; */
}
.custom-input .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  color: #fff;
  padding-left: 0;
}

.custom-input .form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.custom-input .form-control:focus {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #f4c27a;
  color: #fff;
}
/* start conflict */


/* show &hide password */
.password-wrapper {
  position: relative;
}

.password-wrapper .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  padding-right: 35px;
}

.password-wrapper:focus-within .form-control {
  border-bottom: 1px solid #f4c27a;
}

.eye-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}


/* end general Auth Css */


/*----Auth------*/

.Auth-btn{
  background-color: var(--mainColor) !important;
  border:none !important;
  color:#fff !important;
  border-radius: 30px !important;
  padding: 12px !important;
}


/* show &hide password */
.password-wrapper {
  position: relative;
}

.password-wrapper .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  padding-right: 35px;
}

.password-wrapper:focus-within .form-control {
  border-bottom: 1px solid #f4c27a;
}

/* end general  */
/* btn form  styling*/
.custom-input .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  color: #fff;
  padding-left: 0;

}
.custom-input .form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}




.Auth-btn{
  background-color: var(--mainColor) !important;
  border:none !important;
  color:#fff !important;
  border-radius: 30px !important;
  padding: 6px  12px !important;
}

/* btn form  styling*/
.password-wrapper {
  position: relative;
}
.bg-label{
  color:var(--mainColor);
}

.password-wrapper .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  padding-right: 35px;
}

.password-wrapper:focus-within .form-control {
  border-bottom: 1px solid #f4c27a;
}
.eye-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}



/* end general  */
  /* outline: none !important;
  border: none !important;
/* end 1 conflict */
/* end general  */
/* Chrome Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}
.create-title {
  color: var(--mainColor);
  font-weight: 700;
}
/* .c-underline {
  position: relative;
  display: inline-block;
} */

/* .c-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 18px;
  height: 3px;
  background-color: var(--mainColor);
  border-radius: 2px;
} */

.formBg {
 
  position: relative;   
  z-index: 5;           
}
/* end conflict */
/* } */
/* changepass */
.eyeicon {
  position: absolute;
  right: 0;
  top: 90%;
  transform: translateY(-90%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  outline: none !important;
  border: none !important;

}
.auth-header h3::after{
  content:"";
  border:2px solid var(--mainColor);
  display: block;
  width:15px;
}


