.homeImage{
  background-image: url(../../../../assets/images/home-bg.png);
  height: 313px;
  border-radius: 15px;
 
}

.status {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.status.active {
  background-color: #2ecc71;
  color: white;
}

.status.inactive {
  background-color: #e74c3c;
  color: white;
}
.th_flex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sort_icons {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #cfd8d3;
  line-height: 1;
}

.sort_icons svg {
  cursor: pointer;
}
.dropdown_toggle::after {
  display: none !important;
}
.status{
  border-radius: 20px;
   padding: 4px 12px;
  border-radius: 5px solid #0e0d0d;
  font-size: 13px;
  cursor: pointer;
}
.status {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.status.active {
  background-color:var(__activeBtnColor);
  
}

.status.inactive {
  background-color: var(__notActiveBtColor);
 
}
.stat_card {
  border: none;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.icon_box {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.icon_box_total {
  background-color: rgba(207, 209, 236, 1)
}

.icon_box.tasks {
  background-color:rgba(228, 228, 188, 1)
}

.icon_box.projects {
  background-color: rgba(231, 195, 215, 1)
}
.progressUser{
  background-color: rgba(229, 230, 244, 1);
}

.tasksNumber{
  background-color: rgba(244, 244, 229, 1)
}
.projectNumber{
  background-color: rgba(244, 229, 237, 1)
}

.tasks_summary_card {
  width: 500px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.inner_cards_wrapper {
  display: flex !important;
  flex-direction: row !important;
  gap: 12px;
  width: 100%;
}


.stat_card {
  flex: 1;
  min-width: 0;
  border-radius: 14px;
  padding: 14px;
}



.icon_box {
  width: 38px;
  height: 38px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 10px;
  
}


.progressUser {
  background-color: #eef0fb ;
}

.tasksNumber {
  background-color: #f6f7e7;
}

.projectNumber {
  background-color: #fdecef;
}
.tasks_donut_wrapper {
  display: flex;
  align-items: flex_end;
  gap: 180px;
  margin-top: 40px;
}



.donut_wrapper {
  width: 260px;
}
.dashboard_cards_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}